.info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    height: 10vh;
    border-bottom: 1px solid grey;
    margin: 0 auto;
}
.info h1{
  color: black;
  text-decoration: underline;
  text-decoration-color: #7303DB;
}
.info h2{
  color: rgb(91, 201, 91);
  font-size: 30px;
}
.dashboard{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.select_date{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
}
.select_date div{
  font-weight: bold;
  font-size: 1.1em;
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.select_date input{
  width: 160px;
}
.editForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}
.toggleEditForm {
    background-image: linear-gradient(
      to right,
      #9c54d6,
      #6c54d6 50%,
      #000 50%
    );
}
.toggleEditForm {
    background-image: linear-gradient(
      to right,
      #9c54d6,
      #6c54d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    width: 20vw;
    height: 40px;
    margin: 0px 42.5vw 20px 42.5vw;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #7303DB;
}
.toggleEditForm {
    background-image: linear-gradient(
      to right,
      #9c54d6,
      #6c54d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  .toggleEditForm button:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
}
.charts{
  width: 100vw;
  height: 83%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}