@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;400&display=swap');
.main{
    width: 100vw;
    height: 88vh;
    display: flex;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}
.main_left{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.main_right{
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main_text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_text h1{
    font-weight: 700;
    font-size: 2.4em;
}
.main_text p{
    font-weight: 400;
    font-size: 1.1em;
}
.main_right img{
    width: 80%;
    height: 90%;
}
.contact{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_left{
    font-weight: 700;
    font-size: 25px;
    background-color:rgb(76, 76, 100);
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255)
}

.contact_right{
    color: white;
    background-image: linear-gradient(to right, rgb(115, 114, 116),rgb(98, 97, 99));
    font-size: 20px;
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
}
.contact_right a{
    color: white;
}
.button{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-left: 15px;
    background-image: linear-gradient(to right, #12f78c, #f5e76e);
    font-size: 1.1em;
    transition: 0.5s;
}
.button:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.blue{
    background-image: linear-gradient(to right, #125bf7, #6ee5f5);
}
@media (max-width: 690px){
    .main{
        flex-direction: column-reverse;
        align-items: center;
        height: 130vh;
        justify-content: space-around;
    }
    .main_left{
        width: 100vw;
        height: 55%;
        align-items: center;
        justify-content: center;
    }
    .main_right{
        width: 100vw;
        height: 45%;
        align-items: center;
        justify-content: center;
    }
    .main_text{
        width: 70%;
    }
    .contact{
        flex-direction: column;
        width: 100vw;
        height: auto;
    }
    .contact_left, .contact_right{
        text-align: center;
        width: 100%;
        font-size: 18px;
        height: 40vh;
    }
    .button{
        margin-left: 0;
        padding: 0;
    }
}