.footer{
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4C3575;
    color: rgb(242, 240, 250);
    font-weight: 450;
    position: absolute;
    top: 88vh;
    padding: 0;
    margin: 0;
}
.footer_title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.footer ul{
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    padding-right: 40px;
}
.footer ul li {
    list-style-type: none;
    color: rgb(242, 240, 250);
}
.footer ul li a, ::marker{
    color: rgb(242, 240, 250);
}