.message{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0 auto;
    margin-top: 15px;
}

.success{
    background-color: rgb(130, 219, 130);
}

.error{
    background-color: rgb(219, 130, 130);
}