@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;400&display=swap');
.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #392758;
}
.navbar h1{
    margin-left: 20px;
    color: rgb(242, 240, 250);
}
.navbar h1 a{
    font-size: .9em;
    text-decoration: none;
    color: rgb(242, 240, 250);
}
.navbar ul{
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
}
.navbar ul li{
    list-style-type: none;
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(242, 240, 250);
    transition: 1s;
}
.navbar ul li:hover{
    cursor: pointer;
    transform:scale(1.1);
}
.toggle_menu{
    display: none;

}
.responsive_links{
    width: 100vw;
    top: 0;
    z-index:1;
    position: absolute;
    background-color: rgb(71, 65, 88);
    transition: 1s;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.responsive_links ul{
    display: flex;
    flex-direction: column;
    height: 50%;
}
.responsive_links ul li a{
    text-decoration: none;
    color: rgb(242, 240, 250);
    transition: 1s;
}
.responsive_links ul li{
    
    list-style-type: none;
}

::-webkit-scrollbar{
    overflow-x: hidden;
    overflow-y: auto;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track{
    background: rgb(242, 240, 250);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background: #392758;
    border-radius: 50px;
}

@media (max-width: 690px){
    .toggle_menu{
        display: flex;
    }
    .toggle_menu button, .responsive_links button{
        margin-right: 15px;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
    }
    .toggle_menu span, .responsive_links button{
        color: white;
        margin: 10px;
        font-size: 2em;
    }
    .links li{
        display: none;
    }
}